.welcome{grid-area: titulo;}
.cont-img{grid-area:imagen;}
.seccion1{grid-area: seccion1;}
.seccion2{grid-area: seccion2;}
.seccion3{grid-area: seccion3;} 
.page-actions{grid-area: botones;}
/* Grid individual de las hojas de vida de las maquinas */

/* ===== DESKTOP ===== */

.grid-contenedor{
    min-height:100vh;
    gap:10px;
    display:grid;
    

    grid-template:
        "titulo titulo"
       "imagen seccion1" 
       "seccion2 seccion3"
        "botones botones"; 
}

/* ===== TABLET ===== */

@media (max-width:991px){

    .grid-contenedor{

        grid-template:
        "titulo titulo"
        "imagen seccion1"
        "seccion2 seccion3"
        "botones botones";
        

        .seccion1, .seccion2, .seccion3{
            font-size: 1.10rem;
        }

    }

     
}

/* ===== MOVIL ===== */

@media (max-width:990px){

    .grid-contenedor{

        grid-template: 
        "titulo"
        "imagen"
        "seccion1"
        "seccion2"
        "seccion3"
        "botones"
        /1fr;

        .seccion1, .seccion2, .seccion3{
            font-size: 1rem;
        }
    }
}

.welcome{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background: var(--Azul-difuminado);
    border-radius:0.875rem;
    padding:1.5rem 1.875rem;
    margin-bottom:1.875rem;
    box-shadow:0 0.25rem 1.125rem rgba(1,4,64,.22);
    gap:1.25rem;
}
.welcome h1, .welcome p{color: var(--white);}

.cont-img{
    background: var(--white);
    border-radius:15px;
    overflow:hidden;
    
    box-shadow:0 0.25rem 1.125rem rgba(1,4,64,.22);
    box-shadow: 0 0.125rem 0.5rem var(--principal);
}

.cont-img img{
    width:100%;
    height:100%;

    object-fit:cover;

    display:block;
}

.seccion1{
    
    /* display: flex;
    gap: 20px;
    background: var(--white);
    border-radius:15px;
    padding:25px;
    box-shadow:0 3px 8px rgba(0,0,0,.08);
    font-size: 1.25rem;
    list-style: none;
    box-shadow: 0 0.125rem 0.5rem var(--principal); */
    
    background: var(--contenedor);
    border-radius:15px;
    padding:25px;
    box-shadow:0 3px 8px rgba(0,0,0,.08);
    font-size: 1.25rem;
    list-style: none;
    box-shadow: 0 0.125rem 0.5rem var(--principal);

}

.seccion2{
    /* justify-content:center; */
    
    background: var(--contenedor);
    border-radius:15px;
    padding:25px;
    box-shadow:0 3px 8px rgba(0,0,0,.08);
    font-size: 1.25rem;
    list-style: none;
    box-shadow: 0 0.125rem 0.5rem var(--principal);
}

.seccion3{
    background: var(--contenedor);
    border-radius:15px;
    padding:25px;
    box-shadow:0 3px 8px rgba(0,0,0,.08);
    font-size: 1.25rem;
    list-style: none;
    box-shadow: 0 0.125rem 0.5rem var(--principal);
}

.lista-sencilla{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding:0;
    list-style: none;
}

.img-ficha{
    display: grid;
        grid-template-columns: 1fr 1fr;
       
       
}
.lista-dos-columnas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px 30px; /*Espaciado entre filas y columnas */
        padding: 0;
        list-style: none;
        text-align:justify;
        
    }
